<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.jalil.swisspricechecker"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        <!-- was previously:
        android:theme="@style/AppTheme"  -->
        
        <activity
            android:name="ch.jalil.swisspricechecker.ui.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name="ch.jalil.swisspricechecker.ui.ResultActivity"
            android:label="@string/title_activity_result"
            android:parentActivityName="ch.jalil.swisspricechecker.ui.MainActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.jalil.swisspricechecker.ui.MainActivity" />
            
        </activity>
    </application>

</manifest>
